body{
	background-color: black; 
	color: white;
	font-size: 15px;
	font-family:"Arial";
	text-align:center;
}

li {list-style-type: none;
}

/** Tekst farge */    
li:nth-child(1){
	color: yellow;
	}
li:nth-child(2) {
	color: red;
	}
li:nth-child(3)	{
	color:blue;
	}
li:nth-child(4) {
	color: green;
	}
li:nth-child(5) {
	color: red;
	}
li:nth-child(6) {
	color: blue;
	}
li:nth-child(7) {
	color: green;
	}
li:nth-child(8) {
	color: red;
	}
li:nth-child(9) {
	color: blue;
	}
li:nth-child(10) {
	color: green;
	}
li:nth-child(11) {
	color: red;
	}
li:nth-child(12) {
	color: blue;
	}
li:nth-child(13) {
	color: green;
	}
li:nth-child(14) {
	color: red;
	}
li:nth-child(15) {
color: blue;
	}
li:nth-child(16) {
color: green;
	}
li:nth-child(17) {
color: red;
	}
li:nth-child(18) {
color: blue;
	}
li:nth-child(19) {
color: green;
	}
li:nth-child(20) {
color: red;
	}
li:nth-child(21) {
color: blue;
	}
li:nth-child(22) {
color: green;
	}
li:nth-child(23) {
color: red;
	}